.Home {
  background-image: url("../assets/home/background-home-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  min-height: 100vh;

  background-color: black;
}
.space {
  color: #d0d6f9;
  width: 80%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin: 0 auto;

  margin-top: 10rem;
}
.space__one {
  width: 450px;
  .space__one_ques {
    font-size: 28px;
    font-family: "Barlow Condensed", sans-serif;
  }
  .space__one_head {
    font-size: 150px;
    font-family: "Bellefair", serif;
    margin: 1rem 0;
  }
  .space__one_talks {
    font-family: "Barlow", sans-serif;
    font-size: 18px;
  }
}
.space__two {
  width: 275px;
  height: 275px;
  display: flex;
  font-size: 32px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: rgba(0, 0, 0, 0.521);
  background-color: white;
}
@media screen and (max-width: 1000px) {
  .Home {
    background-image: url("../assets/home/background-home-tablet.jpg");
  }
  .space{
    flex-direction: column;
    //border: 1px solid white;
    align-items: center;
    text-align: center;
    margin-top: 6.625rem;
  }
  .space__two{
    width: 242px;
    height:242px ;
    margin-top: 8rem;
  }
}
@media screen and (max-width: 500px) {
  .Home {
    background-image: url("../assets/home/background-home-mobile.jpg");
  }
}
